<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DisplayOrderingServlet</servlet-name>
        <servlet-class>music.admin.DisplayOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderingServlet</servlet-name>
        <servlet-class>music.admin.UpdateOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>music.admin.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>music.admin.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductServlet</servlet-name>
        <servlet-class>music.admin.DisplayProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>music.admin.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayOrderingServlet</servlet-name>
        <url-pattern>/displayOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderingServlet</servlet-name>
        <url-pattern>/updateOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductServlet</servlet-name>
        <url-pattern>/displayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/displayProducts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>book_home_page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
